body {
    margin: 20px;
    overflow: hidden;
}

circle {
    fill: #2F324D;
    opacity: 0.3;
}

rhombus {
    fill: blueviolet;
    opacity: 0.3;
}

text {
    font-family: "SansSerif";
}

.axis-label {
    font-size: 5em;
    fill: #8E8883;
}

.title {
    font-size: 3.7em;
    fill: #635F5D;
}

button {
    background-color: beige;
}